/* Default Icon Size for larger screens */
.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 30px; /* Default icon size */
    transition: color 0.3s ease;
  }
  
  /* On mobile devices, reduce the icon size */
  @media (max-width: 768px) {
    .social-icons a {
      font-size: 24px; /* Adjust size for smaller screens */
    }
  }
  
  /* Hover effect */
  .social-icons a:hover {
    color: #007bff; /* Hover color */
  }
  
  .vivi-center {
    display: block;
    text-align: justify;
    width: 100%;
}
.footerhead{
  color: white;
  font-family: 'HandelGothicBold', sans-serif;
}
.footercontainer {
  background-color: black; /* Bootstrap dark */
  color: lightgray; /* Bootstrap light text */
  padding: 3rem 0; /* Equivalent to py-5 */
}
.listgroupitem {
  background-color: transparent !important; /* Remove white background */
  color: white !important; /* Ensure text remains white */
  border: none !important; /* Remove any unwanted borders */
  padding: 5px 0; /* Adjust spacing */
}